@use "../../main.scss" as main;

.main {
  background-color: main.$bg-color;
  color: main.$shade-color !important;
}

.sidebarIcon {
  font-size: x-large;
}

.active {
  background-color: main.$base-color;
}

.changeAnalysisIcons {
  display: none;
}

.nav-item:hover {
  .changeAnalysisIcons {
    display: inline-block;
  }
}

.analysesListContainer {
  flex: 1;
  display: flex;
  overflow: auto;
}

.nav-link.active {
  background-color: main.$nav-link-color;
}

.analysesList {
  word-break: break-word;
  display: flex;
  min-height: min-content;
  width: 100%;
}

.sidebar {
  width: 280px;
  height: 100%;
  input {
    margin: 0vh !important;
  }
  .openedInputToAddAnalysis {
    margin-top: 7px !important;
  }
}
