@use "../../main.scss" as main;

.main {
  background-color: main.$bg-color;
  color: main.$shade-color !important;
}

.sidebarIcon {
  font-size: x-large;
}

.active {
  //main.$base-color
  background-color: rgb(99, 87, 229) !important;
}

.analysesListContainer {
  flex: 1;
  display: flex;
  overflow: auto;
}

.analysesList {
  word-break: break-word;
  display: flex;
  min-height: min-content;
  width: 100%;
  //   max-height: 50vh;
  //   overflow-x: auto;
  //   overflow-y: scroll;
}
