//table colors
$base-color: #202f5a;
$base-color: #202f5a;
$lighterBlue-color: #365dc9;
$bg-color: #f3f0f0;
$contrast-dark-blue-color: #081c51;
$shade-color: rgb(31, 54, 98);
$nav-link-color: #496fd7 !important;
