@use "../../main.scss" as main;

.aboutContainer {
  margin-top: 2vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.about {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p {
    color: main.$shade-color;
  }

  h1 {
    text-align: center;
    color: main.$shade-color;
  }
  height: 100%;
}

footer {
  background-color: main.$shade-color;
  color: aliceblue;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
