.authBg {
  background-color: rgb(225, 225, 225);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  .mainAuthContainer {
    width: 400px;

    .authActionButton {
      margin-bottom: 22px;
    }

    .errorMessageContainer {
      position: relative;
      width: 100%;
      min-height: 45px;
      margin-bottom: 13px;
      background-color: #d13c37;
      display: flex;
      align-items: center;
      justify-content: center;
      .errorMessage {
        margin: 0;
        padding: 5px;
        text-align: center;
        color: white;
      }
    }
  }
}
