@use "../../main.scss" as main;

.tableContainer {
  margin: 7vh !important;
}

.tableHeadCellContainer {
  display: flex;
  flex-direction: row;
}
.bottom-right-buttons {
  position: absolute;
  margin: 3vh !important;
  bottom: 0vh;
  right: 2vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.analysisNameAboveTable {
  margin-bottom: 3vh;
}

table {
  text-align: center;
  background-color: main.$bg-color;
}

@media print {
  h2 {
    text-align: center;
  }
  .nonprint {
    display: none !important;
  }
  .table-alternating-button {
    display: none !important;
  }

  .bi {
    display: none !important;
  }
}

.table-alternating-button {
  margin: 0.5vh 2vh 0.5vh 2vh;

  .table-alternating-icon {
    color: main.$base-color;
    opacity: 0.88;
    font-size: xx-large;
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
th,
td,
span {
  color: main.$base-color;
  border-color: main.$shade-color;
}
